*{
	box-sizing:border-box;
	text-decoration: none;
    
}
body{
    margin: 0;
}
header,nav,main,footer{display:block;}
main{
	padding-left:2em;
	padding-right:2em;
	margin-left:15px;
	padding-top:1em;
}
table{
	width:50%;
	border:2px;
	border-color:black;
	border-collapse:collapse;
	border-style:solid;
	margin-top:2em;
    margin-bottom:2em;
	margin-left:5%;
}
td,th{
	padding:5px;
	padding-left:2%;
	border:1.5px;
	border-color:black;
	border-style:solid;
}
td:nth-of-type(odd){
	font-style:italic;
}
tr:first-of-type{
    color:rgb(179, 44, 48);
	font-style:italic;
}
label{
	float:left;
	display:block;
	font-weight:bold;
    padding-right:0.5em;
	font-style:italic;
}
input{
	display:block;
    float:left;
	background-color:#F5F5F5;
	border:solid;
}
textarea{
	display:block;
	background-color:#F5F5F5;
	border:solid;
}
fieldset{
    width:50%;
	margin-left:5%;
	font-style:italic;
	border:solid;
}
legend{
	color:rgb(179, 44, 48);
	font-size:3em;
    font-style:itlaic;
}
#titlingdesign{
	float:right;
	word-spacing:2.1em;
	color:#CD4631;
	font-family:Verdana, Arial, or any sans-serif;
}
.floatformright{
	float:right;
	padding-right:2em;
}
.ratingdesign{
	float:right;
	margin-right:-3.8em;
}
.radiodesign{
	float:left;
	margin-right:5.5em;
}

form{
    padding-bottom:1em;
}
option{
	padding:0.5em;
	color:#CD4631;
}
label.error{
	float:none;
	position:relative;
	top:0.25em;
	width:25em;
	text-align:center;
	font-style:italic;
	font-size:0.90em;
	color:red;
	font-family:Arial;
}
a{
    color: white;
}
body{
    background-color: #EBDFCD;
}

/*  Nav Code  */
nav a {
    text-decoration: none;
}
a{
    color: white;
}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #22211F;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-logo{
    margin-left: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
}
nav ul li a{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #EBDFCD;
    transition: 0.4s;
}
nav ul li a:hover{
    font-size: 23px;
    color: #F84225;
}



.section-1{
    display: flex;
    color: #22211F;
}
.menu-slang{
    padding-bottom: 100px;
    padding-top: 70px;
}
.menu-slang h1{
    color: #22211F;
    font-size: 80px;
    padding-top: 100px;
    padding-left: 60px;
}
.menu-slang h1 span{
    color: #F84225;
}
.menu-slang h2{
    color: #22211F;
    padding-top: 30px;
    padding-left: 60px;

}
.ramen-poster{
    width: 500px;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
.logo-home{
    text-decoration: none;
}
button{
    background-color:  rgb(179, 44, 48);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
}
.section-2{
    background-color: #332F2C;
    padding-top: 20px;
    padding-bottom: 50px;
}
.section-2 h1{
    padding-left: 50px;
    text-align:start;
    font-size: 50px;
    color:#CD4631;
    padding-bottom: 30px;
}
.section-2 p{
    color:#EBDFCD ;
    width: 50%;
    padding-left: 70px;
    font-size: 20px;

}



/* Footer Code  */
footer{
    width: 100%;
    margin-top: 30px;
    background-color: rgb(179, 44, 48);
}
footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    width: 33%;
    transition: all 0.4s ease;
}
.topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}
.lower .topic{
    margin: 24px 0 10px 0;
}
.lower i{
    color: white;
    padding-left: 20px;
}
.copyright{
    color: white;
}
.middle{
    padding-left: 40px;
}
.middle ul{
    list-style: none;
    color: white;
    font-size: 17px;
}
.middle ul li{
    color: white;
    padding-bottom: 7px;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.right input[type="email"]{
    height: 45px;
    width: 100%;
    color:#22211F;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid white;
}
.right input[type="submit"]{
    height: 40px;
    width: 100%;
    font-size: 17px;
    color: white;
    background: #eb2f06;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
    font-size: 20px;
    background: none;
}
.media-icons{
    padding-left: 15px;
}
.media-icons a img{
    width: 50px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    border-radius: 25%;
    border: 2px solid white;
    transition: all 0.3s ease;
    margin: 0 5px;
}
/*.media-icons a{
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    border-radius: 25%;
    border: 2px solid white;
    margin:20px 5px;
    transition: all 0.3s ease;
  }.media-icons a img:hover{
    width: 60px;
    height: 60px;
    border-color: #eb2f06;
}*/

.media-icons a img:hover{
    transition: all 0.3s ease;
    width: 57px;
    border-color: #F84225;
    border-width: 3px;
}
  footer a{
    color: white;
    transition: all 0.3s ease;
}
  footer a:hover{
    font-size: 18px;
    color: #eb2f06;
}